*.mp4
data/**
app/outputs/**
node_modules/**
dist/**
.env
.env.*/**
.cursor/**
__pycache__/
*.pyc/**
/sam2/
outputs/**
storage/**
frontend/**
.vscode/
.DS_Store/**
__pycache__/
*-checkpoint.ipynb/**
.venv
*.egg*/**       
build/**
_C.*/**
outputs/**
models/*.pt
*.pt

